.form-box{
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    width: 55vw;
    padding: 24px;
    border-radius: 24px;
    gap: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}
.box1{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 24px;
}

.box2{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
}
.box2_1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.box3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
input, textarea, select{
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid blue;
    /* font-size: 8px; */
    font-weight: 500;
    overflow: hidden;
}

button{
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1300px){
    .form-box {
        width: 85vw;
    }

    .employee-list-table th, .employee-list-table td {
        padding: 2px;
        gap: 2px;
    }

    thead, tbody {
        font-size: 14px;
    }
}

@media screen and (max-width: 845px){
    .form-box {
        width: 95vw;
    }
    .box1, .box2, .box3 {
        grid-template-columns: 1fr;
        gap: 12px;
        overflow: hidden;
    }
    .serch-btn-box {
        flex-direction: column;
    }
    .home h1 {
        text-align: center;
        font-size: 24px;
    }
    .home hr {
        width: 90vw;
    }
}

@media screen and (max-width: 350px){
    input, textarea, select, label{
        font-size: 10px;
    }
    .form-box {
        padding: 12px;
    }
    .radio-box{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .radio-box label{
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .box4 {
        gap: 18px;
    }
}
